{% extends "layout.html" %} {%block content%}
<h1 class="text-center">Skill based gamemodes</h1>
<div class="container">
  <div class="row justify-content-center">
    {% for card in cards %}
    <div class="col-sm-12 col-md-6 col-lg-4">
      <div class="card text-center">
        <img src="{{card[3]}}" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">{{card[0]}}</h5>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
