{% extends "layout.html" %} {%block content%}
<div class="container">
  <div class="row">
    <div class="col-lg-6 col-md-4 col-sm-12">
      <ol>
        <li>Phone: 0987 654 321</li>
        <li>Address</li>
      </ol>
      <form>
        <label for="name">Enter Your Name Here</label>
        <input type="text" class="form-control" />
      </form>
    </div>
    <div class="col-lg-6 col-md-8 col-sm-12">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13242.54361648654!2d151.15435972092507!3d-33.924769216244975!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6b12b0899f50462f%3A0x5017d681632cd30!2sTempe%20NSW%202044!5e0!3m2!1sen!2sau!4v1748828566836!5m2!1sen!2sau"
        width="600"
        height="450"
        style="border: 0"
        allowfullscreen=" "
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
    <p class="lipsum-bodytext text-center">{% include "lipsum.txt" %}</p>
  </div>
</div>
{% endblock %}
