{% extends "layout.html" %} {%block content%} {% include
"partials/slider.html"%}
<div class="container">
  <div class="row">
    {% for card in cards %}
    <div class="col-sm-12 col-md-6 col-lg-4">
      <div class="card">
        <img src="{{card[3]}}" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">{{card[0]}}</h5>
          <p class="card-text">{{card[1]}}</p>
          <a href="{{card[4]}}" class="btn btn-primary">{{card[2]}}</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
